body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333d29;
}
body {
  background: #f1ece2;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #f1ece2;
  border-bottom: 1px solid #b6ad90;
}
.navbar .logo {
  float: left;
  padding: 5px;
}
.navbar h1 {
  color: #414833;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #414833;
}
.content {
  margin: 40px auto;
  padding: 20px;
  background-color: #f1ece2;
}
.footer {
  position: fixed;
  /* Changed the display property of the footer to grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
  width: 100%;
  color: #414833;
  
  
  border: solid 1px #414833;
  background-color: #414833;
  text-align: start;
}
/* Added styling to the h2 */
.footer h3 {
  margin: 10px 30px;
  text-align: start;
  /* Changed the color of the h1 in the Footer */
  color: #f1ece2
}
/* Added the styling for the p elements in the footer */
.footer p {
  font-size: large;
  margin: auto 30px;
  color: #f1ece2
}
/* Added breakpoints for different divs in the grid */
.footer .address {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1;
  
}
.footer .links {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
}
.footer .contact {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 0;
  grid-row-end: 1;
}

/* Added styles to the ul element and the links in the footer*/
.footer ul {
  margin: auto;
}

.footer ul li {
  list-style-type: none;
  padding: 5px;

}


.footer ul li a {
  color: #f1ece2;
  font-size: large;
  text-decoration: none;
}
.footerContent {
  text-align: center;
  float: center;
}
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footerContent ul {
  list-style-type: none;
}

.footerSocialMedia {
  text-align: center;
  float: left;
  width: 10%;
}
.footerSocial:after {
  content: "";
  display: table;
  clear: both;
}
.footerSocialMedia ul {
  list-style-type: none;
}
.notFound {
  text-align: center;
}
.notFoundSlika {
  width: 420 px;
  height: 480 px;
  margin: 10 px;
}
.footerSocialMediaContent {
  text-align: center;
  float: left;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.footerSocialContent:after {
  content: "";
  display: table;
  clear: both;
}
.seznamIger {
  display: inline-block;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2.5rem;
}
.seznamIger img {
  max-width: 400px;
  width: 100%;
  min-width: 200px;
  margin: 10px;
}
.seznamIger h4 {
  display: flex;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 80px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}
.contentLine {
  size: "20px";
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9px;
  color: #414833;
  width: 100%;
}
.sugestedContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}

.borderLine {
  border-left: 1px solid #b6ad90;
  width: 100%;
  height: 100%;
}
.linkButton {
  text-decoration: none;
}
.gameImage {
  width: 100%;
  margin: 10px;
}
